.commands {
    padding: 200px 0;

    .container {
        &>h1 {
            font-weight: 700;
        }

        .row {

            .categories {
                background-color: transparent;
                

                .content {
                    padding: 10px;
                    border-radius: 5px;
                    background-color: rgb(var(--theme-card));

                    button {
                        display: block;
                        width: 100%;
                        margin-bottom: 10px;
                        text-align: left;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            .list {
                input {
                    color: #38b6ff;
                }

                .commands-list {
                    height: 300px;
                    overflow-y: auto;

                    .card {
                        background-color: rgb(var(--theme-card));
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        margin: 10px 0;
                        padding: 0;

                        &:has(.example.active) {
                            border-top: none;

                            .main {
                                background-color: rgba(56, 182, 255, .1);
                                border: #38b6ff 1px solid;
                            }
                        }

                        &:first-child {
                            border: none;
                        }

                        .main {
                            padding: 15px;
                            cursor: pointer;
                            border-radius: 5px;
                            transition-property: background-color, border;
                            transition-duration: .4s;
                            transition-timing-function: ease-in-out;

                            h1 {
                                font-size: 17.5px;
                                font-weight: 700;
                                margin: 0;
                                transition: color .4s ease-in-out;
                                display: grid;
                                place-content: center;
                            }

                            .descriptions {
                                display: grid;
                                place-content: center;

                                p {
                                    display: block;
                                    margin: 0;
                                }
                            }
                        }

                        .example {
                            display: none;
                            padding: 0 15px;

                            p {
                                margin: 0;
                                padding: 15px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}