.commands {
    padding: 200px 0;

    .container {
        &>h1 {
            font-weight: 700;
        }

        & > hr {
            background-color: #38b6ff;
        }

        .row {

            .categories {
                background-color: transparent;
                

                .content {
                    padding: 10px;
                    border-radius: 5px;
                    background-color: rgb(var(--theme-card));
                    margin-bottom: 10px;

                    & > h1 {
                        font-size: 22.5px;
                        margin: 0;
                    }

                    hr {
                        background-color: #38b6ff;
                        margin: 10px 0;
                    }

                    button {
                        display: block;
                        width: 100%;
                        margin-bottom: 10px;
                        transition-property: background-color, color;
                        transition-duration: .4s;
                        transition-timing-function: ease-in-out;

                        &.active:hover {
                            background-color: #38b6ff;
                        }

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            .list {

                .commands-list {
                    height: 500px;
                    overflow-y: auto;
                    margin-top: 10px;

                    .card {
                        background-color: rgb(var(--theme-card));
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        padding: 0;

                        &:has(.example.active) {
                            border-top: none;

                            .main {
                                background-color: rgba(56, 182, 255, .1);
                                border: #38b6ff 1px solid;
                            }
                        }

                        &:first-child {
                            border: none;
                        }

                        .main {
                            padding: 15px;
                            cursor: pointer;
                            border-radius: 5px 5px 0 0;
                            transition-property: background-color, border;
                            transition-duration: .4s;
                            transition-timing-function: ease-in-out;

                            h1 {
                                font-size: 17.5px;
                                font-weight: 700;
                                margin: 0;
                                display: grid;
                                place-content: center;
                            }

                            .descriptions {
                                display: grid;
                                place-content: center;

                                p {
                                    display: block;
                                    margin: 0;
                                }
                            }
                        }

                        .example {
                            display: none;
                            padding: 0 15px;
                            background-color: rgb(255, 0, 0, .1);
                            border-radius: 0 0 5px 5px;

                            p {
                                margin: 0;
                                padding: 15px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}