.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(var(--theme-card), .7);
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition-property: background-color;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    backdrop-filter: blur(10px);
    z-index: 25;

    &.transparent {
        background-color: transparent;
        box-shadow: none;
        backdrop-filter: none;
    }

    &.slide {
        position: absolute;
    }

    .navbar-brand {
        white-space: nowrap;

        &>a {
            margin-right: 5px;

            button {
                color: #38b6ff;

                .logo {
                    height: 50px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .title {
            font-weight: 700;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            font-family: 'Comfortaa', sans-serif !important;
            color: rgb(var(--theme-text));

            span {
                color: #38b6ff;
            }
        }
    }

    .navbar-pages {
        white-space: nowrap;

        .pages {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0 15px;
                padding: 0;
                display: inline-block;
                position: relative;

                &::after {
                    content: "|";
                    height: 100%;
                    width: 2px;
                    position: absolute;
                    right: -15px;
                    display: grid;
                    top: 0;
                    place-content: center;
                    color: inherit;
                }

                &:first-child {
                    margin: 0 15px 0 0 !important;
                }

                &:last-child {
                    margin: 0 0 0 15px !important;

                    &::after {
                        display: none;
                    }
                }

                a {
                    display: block;
                    position: relative;
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    color: rgb(var(--theme-text));

                    &.active {
                        color: #38b6ff;
                    }

                    button {
                        color: inherit;
                        text-transform: none;
                        background-color: transparent;
                        height: 100%;
                        font-size: 15px;
                        display: block;
                    }
                }
            }
        }
    }

    .navbar-end {
        white-space: nowrap;
        button {
            font-size: 20px;
            color: rgb(var(--theme-text));
            margin: 0;

            &:last-child {
                margin: 0 0 0 10px;
            }
        }

        a {
            color: rgb(var(--theme-text));
            text-decoration: none;
            height: 100%;
            width: 100%;
            font-size: 15px;
            font-weight: 700;

            &.invite {
                color: #38b6ff;

                button {
                    color: #38b6ff;
                    font-size: 15px;
                    text-transform: none;
                }
            }
        }
    }
}